<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="one.mamie.rowm.eap">
         <property
               name="lifeCycleURI"
               value="bundleclass://one.mamie.rowm.eap/one.mamie.rowm.eap.E4LifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/one.mamie.rowm.eap/css/default.css">
         </property>
         <property
               name="appName"
               value="one.mamie.rowm.eap">
         </property>
      </product>
   </extension>

</plugin>
